.pro-pic{
  flex: 1;
  justify-content: space-between;
  width: 200px;
  height: 200px;
  padding: 50px;
}
.links-con{
  flex: 0.5;
  width:90vh;
  padding-left: 40%;
  padding-right: 40%;
}
.link{
  margin-left: auto;
  margin-right: auto;
}
.whole{
  display: flex;
  flex-direction: column;
   margin-right: 5%;
   margin-left: 5%;
   align-items: center;
   font-family: 'IBM Plex Mono', monospace;
   height: 100vh
}
.tag-line{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.ent{
  margin-left: 50px;
  margin-right: 50px;

}
.title-icon{
  width: 15%;
  height: 20%
}

#app{
  padding: 0;
  margin: 0;
  height: 100vh;
}
.head1{
  flex: 1
}
.head2{
  flex: 1
}
