.pro-pic{
  flex: 1;
  justify-content: space-between;
  width: 200px;
  height: 200px;
  padding: 50px;
}
.links-con{
  flex: 0.5;
  width:90vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.project{
  display: block;
  height: 50px;
  width: 250px
}
.project-head{
  max-height: 100%
}
.disc-con{
}
.link{
  flex:1;
}
.cus-btn{
  width: 100px;
  height: 40px;
  white-space: nowrap;
}
.whole{
  display: flex;
  flex-direction: column;
   margin-right: 5%;
   margin-left: 5%;
   align-items: center;
   font-family: 'IBM Plex Mono', monospace;
   height:  80vh;
   overflow: auto;
}
.tag-line{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.projects-con{
  height: 80vh;
  width: 60%;
  overflow-x: hidden;
  overflow-y: auto;

}

.ent{
  margin-left: 50px;
  margin-right: 50px;

}
.title-icon{
  width: 15%;
  height: 20%
}
.whole-con{
    display: flex;
    flex-direction: column;
     margin-right: 5%;
     margin-left: 5%;
     align-items: center;
     font-family: 'IBM Plex Mono', monospace;
     max-height:  90vh;
     overflow: auto;
}

#app{
  padding: 0;
  margin: 0;
  height: 100vh;
}
.head1{
  flex: 1
}
.head2{
  flex: 1
}
