.pro-pic{
  width: 200px;
  height: 200px;
  padding: 50px;
}
.whole{
  display: flex;
  flex-direction: column;
   margin-right: 100px;
   margin-left: 100px;
   align-items: center;
   font-family: 'IBM Plex Mono', monospace;
}
.tag-line{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.ent{
  margin-left: 50px;
  margin-right: 50px;

}
.title-icon{
  width: 15px;
  height: 20px
}
